/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/testimonialBanner/testimonialbanner.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.block_testimonial {
    text-align: center;
    padding: 10px 0;
    background: radial-gradient(circle, #f8fdfd 0%, #ffffff 100%);
}

.testimonial_circle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 20px;
}

.testimonial-avatar {
    border-radius: 32px;
    overflow: hidden;
    /* width: 70px;
    height: 70px;
    box-shadow: 0 0 0 3px #e6f3f0;
    background-color: #fff; */
}

.testimonial-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial_text p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #414141;
    margin: 0 0 22px;
}

.testimonial_text h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #2B2B2B;
    margin: 0 0 15px;
}

.testimonial_text .highlight {
    color: #00b287;
}

.testimonial_link {
    margin-top: 8px;
    text-decoration: none;
    font-weight: 500;
    color: #222;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #2B2B2B;
    display: inline-flex;
    align-items: center;
}

.testimonial_link .arrow {
    margin-left: 5px;
    font-weight: bold;
}

.testimonial_link:hover {
    color: #00b287;
}

.testimonial_outer {
    max-width: 1214px;
    height: 697px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial_circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* width: 630px;
    height: 341px;
    margin-left: -315px;
    margin-top: -170px; */
}

.testimonial-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -35px;
    transition: transform 0.5s ease-in-out;
}

.testimonial-avatar[data-user="1"] {
    transform: translate(-200px, -148px);
}

.testimonial-avatar[data-user="2"] {
    transform: translate(-80px, -154px);
}

.testimonial-avatar[data-user="3"] {
    transform: translate(50px, -154px);
}

.testimonial-avatar[data-user="4"] {
    transform: translate(245px, -54px);
}

.testimonial-avatar[data-user="5"] {
    transform: translate(188px, 59px);
}

.testimonial-avatar[data-user="6"] {
    transform: translate(70px, 106px);
}

.testimonial-avatar[data-user="7"] {
    transform: translate(-53px, 105px);
}

.testimonial-avatar[data-user="8"] {
    transform: translate(-180px, 89px);
}

.testimonial-avatar[data-user="9"] {
    transform: translate(-276px, 57px);
}

.testimonial-avatar[data-user="10"] {
    transform: translate(-310px, -24px);
}

.testimonial_outer:hover .testimonial_circle {
    max-width: 1214px;
    height: 697px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

.testimonial_outer:hover .testimonial-avatar[data-user="1"] {
    transform: translate(-354px, -264px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="2"] {
    transform: translate(-64px, -233px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="3"] {
    transform: translate(240px, -288px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="4"] {
    transform: translate(465px, -32px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="5"] {
    transform: translate(290px, 53px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="6"] {
    transform: translate(168px, 194px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="7"] {
    transform: translate(-63px, 236px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="8"] {
    transform: translate(-301px, 183px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="9"] {
    transform: translate(-412px, 25px);
}

.testimonial_outer:hover .testimonial-avatar[data-user="10"] {
    transform: translate(-545px, -108px);
}
