/* @import "tailwindcss"; */

/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
  /* letter-spacing: -0.5px; */
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  margin: 0 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nohemi';
  text-wrap: balance;
  margin: 0 0 30px;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.container {
  max-width: 1253px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.title_holder p {
  font-weight: 500;
  font-size: 24px;
  color: #414141;
  margin: 0 0 20px;
}

.title_holder h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #1DA077;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 48px;
}

.title_holder h1 .highlight {
  color: #000;
}
