/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/components/course/course.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.block_courses {
    padding: 60px 0;
    text-align: center;
}

.block_courses .title_holder {
    text-align: left;
}

.course_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.course_card {
    border-radius: 24px;
    padding: 40px 40px 40px 66px;
    box-sizing: border-box;
    position: relative;
}

.click_me {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    margin: -80px 51px 0 0;
}

.is-open .click_me {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-closed:hover .click_me {
    opacity: 1;
    visibility: visible;
}

.course_main-card {
    background-color: #c12832;
    color: #fff;
    min-height: 260px;
    max-width: 592px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course_main-card .course_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}

.course_main-card .course_icons {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-right: 28px;
}

.course_main-card .course_top img {
    max-width: 100%;
    height: auto;
}

.view-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.course_count {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-top: 20px;
    align-items: center;
}

.course_count h1 {
    font-size: 150px;
    font-weight: bold;
    margin: 0;
}

.course_count h1 span {
    font-size: 64px;
    vertical-align: top;
}

.is-closed {
    background: #fddddd;
    color: #c12832;
}

.is-closed .view-link {
    color: #c12832;
}

.is-closed .course_info {
    color: #c12832;
    margin: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
    height: 230px;
}

.is-closed {
    width: 280px;
    padding: 40px 36px;
}

.course_main-card.is-closed .course_top {
    display: none;
}

.is-closed .course_count h1 {
    font-weight: 700;
    font-size: 150px;
    /* line-height: 120%; */
}

.is-closed .course_count h1 span {
    font-size: 64px;
}

.is-closed .course_count {
    flex-direction: column-reverse;
    margin: 0;
}

.course_info {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #F9EBEC;
    margin-bottom: 12px;
}

.course_info strong {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: block;
    margin: 0 0 12px;
}



/*
.count {
    text-align: center;
    margin-top: 12px;
}

.count h1 {
    font-size: 48px;
    font-weight: bold;
}
.side-card {
    background-color: #fddddd;
    color: #c12832;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 16px;
    min-height: 260px;
}

.vertical-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: left;
}

.vertical-label h4 {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.vertical-label p {
    font-size: 14px;
    margin-top: 8px;
} */


.course_card {
    /* transition: all 0.4s ease; */
    cursor: pointer;
}

/* .animate-open {
    animation: fadeInScale 0.4s ease forwards;
}

.animate-close {
    animation: fadeOutScale 0.3s ease forwards;
} */

/* @keyframes fadeInScale {
    from {
        opacity: 0.2;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
} */

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0.8;
        transform: scale(0.96);
    }
}
